:root {
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --first-btn-color: #ffffff;
  --second-btn-color: #303030;
  --main-text-color: #303030;
  --typical-lh: 1.36;
  --accent-color: #ff6c00;
}

body {
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*----- Header ----- */

.header {
}
.header-navigation {
}
.header-logo {
}
.header-list {
}
.header-item {
}
.header-link {
}
.header-contacts {
}
.header-contacts-item {
}
.header-mail {
}
.header-tel {
}

/*----- Hero ----- */
.hero {
}
.hero-title {
}
.hero-btn {
}

/*--- Section About---*/
.about {
}
.about-title {
}
.about-list {
}
.about-item {
}
.about-item-title {
}
.about-text {
}

/*--- Section Example ---*/
.example {
}
.example-title {
}
.example-list {
}
.example-item {
}

/*--- Section Team ---*/
.team {
}
.team-title {
}
.team-list {
}
.team-item {
}
.team-item-title {
}
.team-text {
}

/*--- Footer ---*/
.footer {
}
.footer-logo {
}
.footer-text {
}

/*--- Portfolio ---*/
.portfolio {
}
.portfolio-title {
}
.portfolio-btn-list {
}
.portfolio-btn-item {
}
.portfolio-btn {
}
.portfolio-example-list {
}
.portfolio-example-item {
}
.portfolio-example-title {
}
.portfolio-category {
}
